
spring:
  application:
    name: "configserver"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

  profiles:
    active: git   # ou native si tu veux local

  cloud:
    config:
      server:
        git:
          uri: https://github.com/farahguelbi/config-repo_new.git
          default-label: main
          clone-on-start: true

server:
  port: 9999
management:
  endpoints:
    web:
      exposure:
        include: '*'